span.tagline_left.
     Powered By<a href="https://plus.google.com/u/0/102868260481271488857" target="_blank">Will Wen Gunn</a>
span.tagline_right
    | Technology:
    |    Node.js -- webjs, Socket.IO, Mongoose, jade
    |    Browser --
    |       JavaScript -- jQuery, Socket.IO, Do.js, jQuery Masonry, jQuery Tiptip, jQuery ImagesLoaded
    |       CSS -- Typo, Google+ UI, Google Fonts
    |       Environment -- HTML5, Modernizr