title MoeStream
meta(name="description", content="Moe Pictures Sharing Stream")
meta(name="author", content="Will Wen Gunn")
meta(name="version", content="0.0.1")
//Styles
link(rel="stylesheet", href="/css/typo.css")
link(rel="stylesheet", href="/css/style.css")
link(rel="stylesheet", href="/css/css3-buttons.css")
link(rel="stylesheet", href="/css/tiptip.css")
//JavaScript
script(src="/js/jquery.js")
script(src="/js/jquery.tiptip.js")
script(src="/js/jquery.imagesloaded.js")
script(src="/js/jquery.masonry.min.js")
script(src="/socket.io/socket.io.js")
script(src="/js/moestream.js")
//Fonts
link(href="http://fonts.googleapis.com/css?family=PT+Sans", rel='stylesheet')
link(href='http://fonts.googleapis.com/css?family=Molengo',rel='stylesheet')